qdevice_cfg: &qdevice_cfg
  num_qubits: 2
  num_comm_qubits: 2
  T1: 1.e+8
  T2: 1.e+8
  init_time: 1.e+4
  single_qubit_gate_time: 1.e+3
  two_qubit_gate_time: 1.e+5
  measurement_time: 1.e+4

stacks:
  - name: client
    qdevice_typ: generic
    qdevice_cfg: 
      <<: *qdevice_cfg
  - name: server
    qdevice_typ: generic
    qdevice_cfg: 
      <<: *qdevice_cfg
  
link_cfg: &link_cfg
  length_A: 50
  length_B: 50
  p_loss_length_A: 0.2
  p_loss_length_B: 0.2
  dark_count_probability: 0
  detector_efficiency: 1
  visibility: 1

links:
  - stack1: client
    stack2: server
    typ: heralded-double-click
    cfg:
      <<: *link_cfg

clinks:
  - stack1: client
    stack2: server
    typ: default
    cfg:
      delay: 0.5